@font-face {
    font-family: bmjua;
    src: url("./../font/BMJUA.ttf");
    /*font-display: swap;*/
}

@font-face {
    font-family: sdchild;
    src: url("./../font/SDChildfundkoreaTTF.ttf");
    /*font-display: swap;*/
}

.study_guide {
    z-index: 1;
    right: 58px;
    top: 30px;
    font-size: 18px;
}

.bgImg {
    height: 100%;
}

.popLearning {
    position: absolute;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    pointer-events: auto;
}

.learning-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    padding-bottom: 30px;
    font-size: 20px;
    /* font-family: "sdchild";
    font-weight: bold; */
}

.learning-wrap>span:not(.learning-badge) {
    text-shadow: -1px -1px 2px #fff, 1px 1px 2px #fff;
}

.learning-badge {
    color: #fff;
    background-color: #9f9fa0;
    padding: 0px 5px;
    border-radius: 8px;
    position: absolute;
    bottom: 30px;
    left: 50px;
    font-size: 20px;
    width: 40px;
}

.popLearning .starTitle {
    width: 55px;
    height: 20px;
    left: 0px;
}

.popLearning .learning-badge {
    position: relative;
    bottom: -15px;
    left: 0px;
    padding: 2px;
    font-size: 13px;
    width: 25px;
    border-radius: 5px;
}

.popLearning .learning-wrap {
    padding-bottom: 0;
    padding-top: 0px;
    font-size: 13px;
    line-height: 1;
    gap: 1;
}

.popLearning .starArrow {
    height: 20px;
    width: 38px;
    font-size: 13px;
    bottom: 37px;
    left: 55px;
}

.popbox.mini .navControl {
    display: flex;
    gap: 10px;
    font-size: 25px;
    align-items: center;
    color: #fff;
    font-family: 'YGJAL';
    justify-content: center;
    margin: 30px 0;
}

.popbox.mini .navControl .navItem.purple {
    background: #826AAF;
}

.popbox.mini .navControl .navItem.blue {
    background: #2F92D0;
}

.popbox.mini .navControl .navItem.red {
    background: #EA1B24;
}

.popbox.mini .navControl .navItem.orange {
    background: #F78F21;
}

.popbox.mini .navControl .navItem {
    padding: 10px 30px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'YGJAL';
    line-height: 1;
}

.popbox.mini .navControl .navItem.off {
    background: #ccc;
}

.learning-list>li {
    display: none;
    position: relative;
}

.learning-list>li.on {
    display: block;
}

.learning-list>li .learning-item {
    display: grid;
    grid-template: 2fr/ 1fr 1fr;
    overflow: hidden;
    height: auto;
    width: 480px;
    gap: 30px 0;
    margin: 40px auto 20px;
}

.learning-list>li .learning-item>li {
    position: relative;
    width: 150px;
    height: 150px;
    font-size: 22px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.learning-list>li .learning-item>li[data-color]:hover {
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_gray.png');
}

.popbox .popLearning[data-color]:hover {
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_gray.png');
}

/* purple */
.learning-list>li .learning-item>li[data-color="purple"],
.popbox .popLearning[data-color="purple"] {
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_purple.png');
}

/* blue */
.learning-list>li .learning-item>li[data-color="blue"],
.popbox .popLearning[data-color="blue"] {
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_blue.png');
}

/* red */
.learning-list>li .learning-item>li[data-color="pink"],
.popbox .popLearning[data-color="pink"] {
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_pink.png');
}


/* yellow */
.learning-list>li .learning-item>li[data-color="yellow"],
.popbox .popLearning[data-color="yellow"] {
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_yellow.png');
}

.learning-list>li .learning-item>li.off {
    pointer-events: none;
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_gray.png');
}

.slideBtn {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.slideBtn.prev {
    left: 40px;
}

.slideBtn.next {
    right: 40px;
}

.slideBtn.off {
    pointer-events: none;
    opacity: .2;
}

.popbox.mini {
    border-radius: 32px;
    overflow: unset;
    cursor: move;
}

.popbox.mini .popCloseBtn {
    background: #a4826c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 53px;
    border-radius: 0 30px 0 50px;
    padding-left: 5px;
    box-sizing: border-box;
    right: 0;
}

.popbox.mini .popCloseBtn::after {
    content: '';
    background: #fff;
    width: 25px;
    height: 3px;
    transform: rotate(-45deg);
    border-radius: 10px;
    margin-top: -5px;
}

.popbox.mini .popCloseBtn::before {
    content: '';
    position: absolute;
    background: #fff;
    width: 25px;
    height: 3px;
    transform: rotate(45deg);
    border-radius: 10px;
    margin-top: -5px;
}

.popbox.mini .popCloseBtn:hover {
    background: #f60;
}

.btnSave {
    pointer-events: auto;
    bottom: 20px;
    right: 28px;
}

.popLearning {
    position: absolute;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 105px;
    height: 105px;
    pointer-events: auto;
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_pl.png');
    background-size: contain;
}

.popLearning:hover {
    background-image: url('../images/proto_ton_001/proto_ton_001_202_world_hover.png');
}

.popLearning p span {
    color: #fff;
    background-color: #ccc;
    padding: 2px 8px;
    position: relative;
    top: 10px;
    font-size: 11px;
    border-radius: 5px;
}

.popbox .popLearning.pop1 {
    top: 416px;
    left: 97px;
}

.popbox .popLearning.pop2 {
    top: 527px;
    left: 40px;
}

.popbox .popLearning.pop3 {
    top: 634px;
    left: 108px;
}

.popbox .popLearning.pop4 {
    top: 614px;
    right: 1020px;
}

.popbox .popLearning.pop5 {
    top: 527px;
    right: 912px;
}

.popbox .popLearning.pop6 {
    top: 404px;
    right: 828px;
}

.popbox .popLearning.pop7 {
    top: 278px;
    right: 743px;
}

.popbox .popLearning.pop8 {
    top: 170px;
    right: 641px;
}

.popbox .popLearning.pop9 {
    top: 79px;
    right: 524px;
}

.popbox .popLearning.pop10 {
    top: 37px;
    right: 399px;
}

.popbox .popLearning.pop11 {
    top: 83px;
    left: 967px;
}

.popbox .popLearning.pop12 {
    top: 195px;
    left: 885px;
}

.popbox .popLearning.pop13 {
    top: 268px;
    left: 768px;
}

.popbox .popLearning.pop14 {
    top: 338px;
    left: 652px;
}

.popbox .popLearning.pop15 {
    top: 434px;
    left: 546px;
}

.popbox .popLearning.pop16 {
    top: 550px;
    left: 460px;
}

.popbox .popLearning.pop17 {
    top: 647px;
    left: 536px;
}

.popbox .popLearning.pop18 {
    top: 647px;
    left: 678px;
}

.popbox .popLearning.pop19 {
    top: 635px;
    left: 817px;
}

.popbox .popLearning.pop20 {
    top: 608px;
    left: 956px;
}

.starTitle {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 25px;
    background-color: #fff;
    border: 1px solid #afafb1;
    border-radius: 5px;
    top: -10px;
    left: 0px;
}

.starTitle::before {
    content: "";
    width: 7px;
    height: 7px;
    background-image: url("../images/proto_ton_001/before.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 3px;
    top: 3px;
}

.starArrow {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0px 3px 0px 0px;
    position: absolute;
    width: 60px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    left: 50%;
    bottom: 55px;
    transform: translate(-50%, 0);
    text-shadow: none !important;
}

.starArrow.purple {
    background-image: url("../images/proto_ton_001/arrow-purple.png");
}

.starArrow.blue {
    background-image: url("../images/proto_ton_001/arrow-blue.png");
}

.starArrow.red {
    background-image: url("../images/proto_ton_001/arrow-red.png");
}